.embla {
  overflow: hidden;

  &:before {
    display: none;
    content: '{ "slidesToScroll": 1 }';
  }
}

.emblaContainer {
  display: flex;
  gap: 1rem;
}

.emblaSlide {
  position: relative;
  flex: 0 0 calc(90%);
}

@media only screen and (min-width: 768px) {
  .slidesPerViewDesktop--3 {
    &.embla:before {
      display: none;
      content: '{ "slidesToScroll": 3 }';
    }

    .emblaSlide {
      flex: 0 0 calc(33.6% - 1rem);
    }
  }

  .slidesPerViewDesktop--4 {
    &.embla:before {
      display: none;
      content: '{ "slidesToScroll": 4 }';
    }

    .emblaSlide {
      flex: 0 0 calc(25% - 1rem);
    }
  }
}

.emblaNavigation {
  margin-top: 40px;
  text-align: center;

  @media only screen and (min-width: 0px) and (max-width: 767px) {
    display: none;
  }

  @media only screen and (min-width: 768px) {
    margin-top: 90px;
  }
}
