.cookieAccepted {
  color: #30b28c !important;
}

.checkIcon {
  background-color: #30b28c;
  margin-left: 0.25rem;
  width: 15px;
  height: 15px;

  display: flex;
  align-items: center;
  justify-content: center;

  border-radius: 100%;
}
